/* *******************************Global************************************** */
* {
    box-sizing: border-box;
}

/* *******************************Navbar************************************** */
.navbar {
    height: auto;
    background-color: rgba(22, 173, 103, 0.2);
}

#logo-img {
    background: url("../img/resize-16236731311318574044navlogo.png") no-repeat;
    width: 70px;
    height: 72px;
    margin: 10px 15px 10px 0;
    border: 2px solid black;
    border-radius: 4px
}

.navbar-brand {
    padding-top: 29px;
}

.navbar-brand h3 {
    font-family: 'Do Hyeon', sans-serif;
    color: #16ad67;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: #222;
    font-weight: 500;
}

#nav-list a:hover {
    background-color: rgb(163, 221, 208);
    border: 1px solid black;
    border-radius: 5px;
}

button .navbar-toggler {
    border: 2px solid #1f040d;
}

.searchbar {
    background-color: rgb(163, 221, 208);
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 4px;
}

.searchbar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fa-search {
    padding: 9px 3px;
}

.togglesearch {
    background-color: #1f040d;
    position: absolute;
    top: 88px;
    right: 95px;
    width: 327px;
    height: 63px;
    line-height: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 4px solid #16ad67;
    display: none;
    z-index: 1;
}

.togglesearch::before {
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #16ad67;
}

.togglesearch input[type="text"] {
    width: 200px;
    padding: 0px 10px;
    margin-left: 23px;
    border: 1px solid #16ad67;
    outline: none;
}

.togglesearch input[type="button"] {
    width: 80px;
    padding: 1px 0px;
    background-color: #16ad67;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #16ad67;
    outline: none;
    cursor: pointer;
}

.twoinputs {
    margin: 9px 0;
}

/* ******************************Jumbotron*********************************** */
.jumbotron {
    position: relative;
    overflow: hidden;
    border: 0;
    border-radius: 0;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../img/bgjubotron1.png");
    background-size: cover;
    background-position: top center;
    opacity: 0.2;

}

.jumbotron .container {
    margin-top: -28px;
}

.jbheader {
    /* position: relative; */
    color: black;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 1;
    margin-left: -10px;
}

.headersjb {
    position: relative;
    margin-left: -23px;
}

.jbinner {
    /* position: relative; */
    color: rgb(114, 102, 102);
    font-family: "Raleway", Sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    text-align: center;
    margin-left: -15px;
}

.rent-now {
    /* position: relative; */
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    background-color: #61CE7000;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    padding: 9px 35px;
    border-radius: 3px;
}

.discover {
    /* position: relative; */
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #459c58;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #459c58;
    border-radius: 3px;
    padding: 9px 35px;
    margin-left: 40px;
}

.jbcorner {
    position: relative;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: -8px;
}

/* **************************************Middle section************************************** */
.tindivs {
    margin: 65px -6px;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    text-align: center;
}

.tindivs span {
    color: #16ad67;
}

.underborder {
    height: 5px;
    width: 100px;
    background: linear-gradient(90deg, #16ad67 0%, #16ad67 100%);
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    position: relative;
    left: 2px;
}

.underborder::after {
    content: "";
    position: absolute;
    right: -10px;
    height: 5px;
    width: 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #16ad67;
    box-shadow: 9px 0px 0px 0px #16ad67, 18px 0px 0px 0px #16ad67, 27px 0px 0px 0px #16ad67;
}

#novel,
#crime,
#myth,
#mystery {
    height: 210px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    border: 2px solid #29493a;
    overflow: hidden;
}

#novel:hover,
#crime:hover,
#myth:hover,
#mystery:hover {
    box-shadow: 0 1px 5px 1px #16ad67;
}

.tiles {
    width: 100%;
    margin-left: -4px;
    margin-right: -15px;
    position: relative;
    margin-top: 40px;
}

#novel {
    background: url(../img/novel1.jpg) center no-repeat;
    width: 260px;
}

#crime {
    background: url(../img/crime1.jpg) center no-repeat;
    width: 260px;
}

#myth {
    background: url(../img/myth1.jpg) center no-repeat;
    width: 260px;
}

#mystery {
    background: url(../img/mystery1.jpg) center no-repeat;
    width: 260px;
}

#novel span,
#crime span,
#myth span,
#mystery span {
    position: absolute;
    bottom: 17px;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #16ad67;
    opacity: 0.8;
}
#novel span b,
#crime span b,
#myth span b,
#mystery span b {
    font-size: 1.4em;
    color: #fff;
    position: relative;
}

#shipping, #fullhours, #payment {
    height: 200px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    border: 8px ridge ;
    overflow: hidden;
}
#shipping:hover, #fullhours:hover, #payment:hover {
    box-shadow: 0 1px 5px 1px #16ad67;
}
#shipping {
    background-color: rgb(240, 161, 14);
}
#fullhours {
    background-color: #076f81e7;
}
#payment {
    background-color: rgb(248, 25, 92);
}

#seva1logo, #seva2logo, #seva3logo {
    margin-top: 8px;
    margin-left: 1px;
}
#seva1logodiv, #seva2logodiv, #seva3logodiv {
    height: 75px; 
    /* width: 75px; */
    background-color: white;
    border-radius: 24% 50%;
    top: 60px;
}
#seva1logo {
    background: url("../img/free-delivery.png") no-repeat;
    height: 54px;
    width: 70px;
    background-size: contain;
}
#seva1-content, #seva2-content, #seva3-content {
    top: 9px;
}

#seva2logo {
    background: url("../img/24-hours.png") no-repeat;
    height: 54px;
    width: 70px;
    background-size: contain;
}

#seva3logo {
    background: url("../img/credit-card.png") no-repeat;
    height: 54px;
    width: 70px;
    background-size: contain;
}

#seva1-content, #seva2-content, #seva3-content {
    color: white;
}
#seva1-content-desc, #seva2-content-desc, #seva3-content-desc {
    font-weight: 600;
}
/* **************************************Footer section************************************** */

.footerbox-1 {
    margin-left: -41px;
}

#footerLogo {
    width: 270px;
    height: 230px;
    margin-bottom: 20px;
    margin-left: -16px;
}

.contact-mail strong {
    color: black;
}

.terms-menu a,
.quick-links a {
    color: black;
    font-weight: 500;
}

#terms-menu-header {
    font-weight: bold;
    margin-left: 19px;
    margin-bottom: 18px;
}

#terms-menu-header::before {
    content: "";
    position: absolute;
    left: -10px;
    height: 17px;
    width: 4px;
    margin-top: 5px;
    margin-left: 26px;
    display: inline-block;
    background-color: #16ad67;
}

.terms-menu, .quick-links {
    border: 1px solid black;
    border-radius: 3px;
}

#quick-links-header {
    font-weight: bold;
    margin-left: 19px;
    margin-bottom: 18px;
}

#quick-links-header::before {
    content: "";
    position: absolute;
    left: -10px;
    height: 17px;
    width: 4px;
    margin-top: 5px;
    margin-left: 26px;
    display: inline-block;
    background-color: #16ad67;
}

#contact-info-header {
    font-weight: bold;
    margin-left: 19px;
    margin-bottom: 18px;
}

#contact-info-header::before {
    content: "";
    position: absolute;
    left: -10px;
    height: 17px;
    width: 4px;
    margin-top: 5px;
    margin-left: 26px;
    display: inline-block;
    background-color: #16ad67;
}

.contact-info-logos {
    height: 40px;
    width: 40px;
    border: 2px solid black;
    float: left;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 5px;
}

.fa-map-marker {
    margin-top: 11px;
    margin-left: 12px;
    color: #16ad67;
}

.fa-phone {
    margin-top: 11px;
    margin-left: 10px;
    color: #16ad67;
}

.fa-envelope {
    margin-top: 10px;
    margin-left: 8px;
    color: #16ad67;
}

.contact-info {
    width: 315px;
}

.footer {
    margin: 0px auto;
    padding: 30px 0px 0px 0px;
    background-color: rgba(22, 173, 103, 0.2);
}

.address-title,
.phone-title,
.email-title {
    font-weight: bold;
}


/* **************************************Media queries************************************** */

/* **************************************start 1301 < ************************************** */
@media (min-width: 1301px) {
    #nav-list {
        margin-left: 207px;
    }

    .jumbotron {
        height: 365px;
    }

    #footerLogo {
        margin-left: 1px;
    }

    .terms-menu {
        width: 240px;
    }

    .quick-links {
        width: 200px;
    }

    .footerbox-1 {
        left: 25px;
        margin-left: 19px;
        margin-right: -35px;
    }

    .footerbox-2 {
        left: 54px;
    }

    .footerbox-3 {
        left: 10px;
    }

    .footerbox-4 {
        right: 55px;
    }

    .col-auto {
        margin: 0 auto;
    }
}
/*************************************** end 1301 < ************************************** */

/* **************************************start 1200 to 1300************************************** */
@media (min-width: 1200px) and (max-width: 1300px) {
    #nav-list {
        margin-left: 207px;
    }

    .terms-menu {
        width: 225px;
    }

    .quick-links {
        width: 180px;
    }

    .footerbox-1 {
        left: 76px;
    }

    .footerbox-2 {
        left: 54px;
    }

    .footerbox-3 {
        left: 25px;
    }

    .footerbox-4 {
        right: 55px;
    }

    .col-auto {
        margin: 0 auto;
    }
}
/* **************************************end 1200 to 1300************************************** */

/* **************************************start 992 to 1199************************************** */
@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        height: 383px;
    }
    #mystery {
        margin-left: 315px;
    }

    #seva1logo, #seva2logo, #seva3logo {
        margin-left: -8px;
    }
    #seva3logo {
        margin-top: 12px;
    }
    .footer .row {
        flex-direction: column;
    }

    .footerbox-1 {
        display: flex;
        left: 150px;
    }

    #commit {
        min-width: 270px;
        margin-top: 58px;
        margin-left: 20px;
    }

    #cmail {
        margin-left: 90px;
        margin-top: 57px;
    }

    .footerbox-2 {
        right: 55px;
    }

    .terms-menu {
        width: 250px;
    }

    .footerbox-2 {
        left: 209px;
        margin-top: 20px;
    }

    .footerbox-3 {
        top: -237px;
        left: 572px;
    }

    .footerbox-4 {
        top: -190px;
        left: 342px;
    }

    .col-auto {
        margin: 0 auto;
    }
}
/* **************************************end 992 to 1199************************************** */

/* **************************************start 768 to 991************************************** */
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        height: 400px;
    }
    .twobuttons {
        justify-content: center;
    }
    #shipping, #fullhours, #payment {
        height: 275px;
    }
    #seva1logodiv, #seva2logodiv, #seva3logodiv {
        max-width: 79px;
        top: 22px;
        left: 39px
    }
    #seva1logo, #seva2logo, #seva3logo {
        margin-left: -2px;
    }
    #seva1-content, #seva2-content, #seva3-content {
        text-align: center;
    }
    .footer .row {
        flex-direction: column;
        overflow: hidden;
    }

    #footerLogo {
        margin: 0 auto;
        display: block;
    }

    #commit {
        text-align: center;
    }

    #cmail {
        text-align: center;
    }

    .footerbox-2 {
        margin: 0 auto;
        top: 20px;
    }

    .footerbox-3 {
        margin: 0 auto;
        top: 40px;
    }

    .footerbox-4 {
        margin: 0 auto;
        top: 60px;
    }

    .footer .container-fluid {
        height: 1289px;
    }

    .footerbottom {
        position: relative;
        bottom: -118px;
    }

    .contact-info {
        height: 279px;
    }

    .col-auto {
        margin: 0 auto;
    }
}
/* **************************************end 768 to 991************************************** */

/* **************************************start 487 to 767************************************** */
@media (min-width: 487px) and (max-width: 767px) {
    .jumbotron {
        height: 484px;
    }

    .jbheader {
        margin: 0 auto;
        width: 420px;
    }

    .twobuttons {
        justify-content: center;
    }
    .tiles {
        margin: 0 auto;
        width: 290px;
    }
    #seva1logodiv, #seva2logodiv, #seva3logodiv {
        max-width: 79px;
        top: 22px;
        left: 39px
    }
    .footer .row {
        flex-direction: column;
    }

    .footerbox-1 {
        margin-left: 117px;
        width: 370px;
    }

    #footerLogo {
        margin-left: 11px;
    }

    #footerLogo {
        margin: 0 auto;
        display: block;
    }

    #commit {
        text-align: center;
    }

    #cmail {
        text-align: center;
    }

    .footerbox-2 {
        margin: 0 auto;
        top: 20px;
        width: 285px;
    }

    .footerbox-3 {
        margin: 0 auto;
        top: 40px;
        width: 285px;
    }

    .footerbox-4 {
        margin: 0 auto;
        top: 60px;
        width: 285px;
    }

    .terms-menu {
        width: 250px;
    }

    .quick-links {
        width: 180px;
    }

    .footer .container-fluid {
        height: 1289px;
    }

    .footerbottom {
        position: relative;
        bottom: -161px;
        /* margin-left: 197px; */
        margin: 0 auto;
    }

    .col-auto {
        margin: 0 auto;
    }
}
/* **************************************end 487 to 767************************************** */

/* **************************************start 360 to 486************************************** */
@media (min-width: 360px) and (max-width:486px) {

    /*262 sudhi*/
    .jumbotron {
        height: 500px;
    }
    .tiles {
        margin: 0 auto;
        width: 290px;
    }

    #footerLogo {
        margin: 0 auto;
        display: block;
    }

    #commit {
        text-align: center;
    }

    #cmail {
        text-align: center;
    }

    .footerbox-1 {
        left: 30px;
    }

    .col-auto {
        margin: 0 auto;
    }

    .footerbox-3 {
        margin: 0 auto;
        top: 26px;
        width: 285px;
    }

    .footerbox-4 {
        margin: 0 auto;
        top: 55px;
        /* width: 285px; */
    }

    .terms-menu {
        width: 240px;
        margin: 0 auto;
    }

    .quick-links {
        width: 240px;
        margin: 0 auto;
    }

    .contact-info {
        margin: 0 auto;
    }

    .footer .container-fluid {
        height: 1240px;
    }

    .footerbottom {
        position: relative;
        bottom: -105px;
        /* margin-left: 197px; */
        margin: 0 auto;
    }

}
/* **************************************end 360 to 486************************************** */

/* **************************************start 575 to 767************************************** */
@media (min-width: 575px) and (max-width: 767px) {
    #seva1logodiv  {
        left: 25px;
        top: 45px;
        height: 90px;
        max-width: 90px;
    }
    #seva1logo {
        margin: 15px 4px;
    }
    #seva1-content {
        max-width: 240px;
        position: absolute;
        right: 50px;
    }
    #fullhours, #payment {
        height: 260px;
    }
    #seva2logodiv, #seva3logodiv {
        left: 52px;
    }
    #seva2logo, #seva3logo {
        margin: 9px -2px;
    }
    #seva2-content-header, #seva3-content-header {
        text-align: center;
    }
}
/* **************************************end 575 to 767************************************** */

/* **************************************start 575 to 700************************************** */
@media (min-width: 575px) and (max-width: 700px) {
    #nav-list {
        width: 440px;
        margin-left: -15px;
    }

    #logo-img {
        margin-left: -20px;
    }

    .cart .nav-link {
        margin-left: -20px;
    }

    .nav-item {
        margin-right: -13px;
    }

    .searchbar {
        margin-right: 0px;
        margin-left: -31px;
    }
}
/* **************************************end 575 to 700************************************** */

/* **************************************start 360 to 575************************************** */
@media (min-width: 360px) and (max-width: 575px) {
    #logo-img {
        margin-left: -27px;
    }

    .searchbar {
        margin-right: -69px;
    }
    #seva1logodiv, #seva2logodiv, #seva3logodiv {
        left: 25px;
        top: 45px;
        height: 90px;
        max-width: 90px;
    }
    #seva1logo, #seva2logo, #seva3logo {
        margin: 15px 4px;
    }
    #seva1-content, #seva2-content, #seva3-content {
        max-width: 240px;
        position: absolute ;
        right: 50px;
    }

}
/* **************************************end 360 to 575************************************** */

/* **************************************start 360 to 461************************************** */
@media (min-width: 360px) and (max-width:461px) {
    .jumbotron {
        height: 700px !important;
    }

    .headersjb {
        margin: 0 auto;
    }

    .twobuttons {
        flex-direction: column;
        margin: 0 auto;
    }

    .rent-now {
        margin: 10px 16px;
    }

    .discover {
        margin: 10px 16px;
    }
}
/* **************************************end 360 to 461************************************** */


