/* *******************************Global************************************** */
* {
    box-sizing: border-box;
}

/* *******************************Navbar************************************** */
.navbar {
    background-color: rgba(22, 173, 103, 0.2);
    height: auto;
}

#logo-img {
    background: url("../img/resize-16236731311318574044navlogo.png") no-repeat;
    border: 2px solid black;
    border-radius: 4px;
    height: 72px;
    margin: 10px 15px 10px 0;
    width: 70px;
}

.navbar-brand {
    padding-top: 29px;
}

.navbar-brand h3 {
    color: #16ad67;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px 1px #222;
    text-transform: uppercase;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: #222;
    font-weight: 500;
}

#nav-list a:hover {
    background-color: rgb(163, 221, 208);
    border: 1px solid black;
    border-radius: 5px;
}

button .navbar-toggler {
    border: 2px solid #1f040d;
}

.searchbar {
    background-color: rgb(163, 221, 208);
    border: 2px solid black;
    border-radius: 4px;
    height: 40px;
    width: 40px;
}

.searchbar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fa-search {
    padding: 9px 3px;
}

.togglesearch {
    background-color: #1f040d;
    border-top: 4px solid #16ad67;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    height: 63px;
    line-height: 35px;
    position: absolute;
    right: 95px;
    top: 88px;
    width: 327px;
    z-index: 1;
}

.togglesearch::before {
    border-bottom: 14px solid #16ad67;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    content: "";
    position: absolute;
    right: 13px;
    top: -32px;
}

.togglesearch input[type="text"] {
    border: 1px solid #16ad67;
    margin-left: 23px;
    outline: none;
    padding: 0px 10px;
    width: 200px;
}

.togglesearch input[type="button"] {
    background-color: #16ad67;
    border: 1px solid #16ad67;
    color: #fff;
    cursor: pointer;
    margin-left: -6px;
    outline: none;
    padding: 1px 0px;
    width: 80px;
}

.fa-shopping-bag {
    color: rgb(33, 150, 62);
}
.fa-shopping-bag:hover {
    color: #16ad67;
}

/* ******************************Jumbotron*********************************** */
/* ******************************Jumbotron*********************************** */
.jumbotron {
    border: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
}

.jumbotron::before {
    background-image: url("../img/bgjubotron1.png");
    background-position: top center;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;

}

.jumbotron .container {
    margin-top: -28px;
}

.jbheader {
    color: black;
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin-left: -10px;
    padding: 0;
}

.headersjb {
    margin-left: -23px;
    position: relative;
}

.jbinner {
    color: rgb(114, 102, 102);
    font-family: "Raleway", Sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-left: -15px;
    text-align: center;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    text-transform: uppercase;
}

.rent-now {
    background-color: #61CE7000;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    padding: 9px 35px;
}

.discover {
    background-color: #459c58;
    border-color: #459c58;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    color: #fff;
    cursor: pointer;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    margin-left: 40px;
    padding: 9px 35px;
}
#innerpic {
    margin-top: -37px;
    opacity: 0.5;
}
.jbcorner {
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
}

/* **************************************Middle section************************************** */
/* **************************************Middle section************************************** */
.top-ordered {
    margin-top: 65px;
    text-align: center;
}

.top-ordered span {
    color: #16ad67;
}

.carousel {
    background: linear-gradient(#54755e, #16ad67, #54755e);
    border: 5px inset darkgrey;
    margin-bottom: 65px;
    top: 50px;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    border: 3px solid #222;
    margin: 35px 177px;
}

.carousel-caption {
    margin: 10px 10px 14px 254px;
    text-align: inherit;
    width: 500px;
}

.carousel-caption h3 {
    color: khaki;
}

.carousel-price {
    color: lightyellow;
    font-size: 1.2em;
    font-weight: 500;
}

.carousel-desc {
    color: black;
    font-size: 1.1em;
}

.tindivs {
    border-bottom: 1px ridge;
    margin: 65px -6px;
    min-height: 400px;
    padding: 50px 0px;
    text-align: center;
}

.tindivs span {
    color: #16ad67;
}

.underborder {
    background: linear-gradient(90deg, #16ad67 0%, #16ad67 100%);
    border-radius: 2px;
    height: 5px;
    left: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    position: relative;
    width: 100px;
}

.underborder::after {
    background-color: #16ad67;
    border-radius: 50%;
    box-shadow: 9px 0px 0px 0px #16ad67, 18px 0px 0px 0px #16ad67, 27px 0px 0px 0px #16ad67;
    content: "";
    display: inline-block;
    height: 5px;
    position: absolute;
    right: -10px;
    width: 5px;
}

#novel,
#crime,
#myth,
#mystery {
    border: 2px inset #29493a;
    height: 210px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#novel:hover,
#crime:hover,
#myth:hover,
#mystery:hover {
    box-shadow: 0 1px 5px 1px #16ad67;
}

.tiles {
    margin-left: -4px;
    margin-right: -15px;
    margin-top: 40px;
    position: relative;
    width: 100%;
}

#novel {
    background: url(../img/novel1.jpg) center no-repeat;
    width: 260px;
}

#crime {
    background: url(../img/crime1.jpg) center no-repeat;
    width: 260px;
}

#myth {
    background: url(../img/myth1.jpg) center no-repeat;
    width: 260px;
}

#mystery {
    background: url(../img/mystery1.jpg) center no-repeat;
    width: 260px;
}

#novel span,
#crime span,
#myth span,
#mystery span {
    background-color: #16ad67;
    bottom: 17px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}

#novel span b,
#crime span b,
#myth span b,
#mystery span b {
    color: #fff;
    font-size: 1.4em;
    position: relative;
}

#ti-content {
    margin-top: 25px;
}

.ti-content-tiles {
    height: 261px;
    margin: 45px auto 60px;
    position: relative;
    width: 200px;
}

.ti-content-title {
    color: #0c0e0d;
    font-weight: 500;
    margin-top: 15px;
}

.ti-content-price {
    font-size: 1.2em;
    font-weight: bold;
}

.ti-content-price span del {
    color: rgb(107, 104, 100);
    font-size: 0.7em;
    margin-right: 3px;
}

.ti-content-image {
    height: 210px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.eye-quick-view {
    background-color: #0c0e0d;
    bottom: 0px;
    display: none;
    height: 35px;
    opacity: 0.7;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: center;
}

.eye-quick-view span {
    color: #fff;
    font-size: 1em;
    margin-top: 9px;
    position: relative;
}

.eye-quick-view span b {
    margin-left: 5px;
}

.add-to-wishlist {
    background-color: #f32626;
    display: none;
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 70%;
    text-align: center;
}

.add-to-wishlist span {
    color: white;
    font-size: 1em;
}

.tintabs {
    margin-top: 35px;
}

.tintabs ul {
    margin: 0 auto;
    width: 353px;
}

.tintabs ul li a {
    color: rgb(206, 24, 24);
    font-size: 1.3em;
    font-weight: 500;
}

.tintabs ul li a:hover {
    color: rgb(206, 24, 24);
    font-weight: bold;
    text-shadow: 0px 1px 1px rgb(8, 8, 8);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: linear-gradient(#016a7ce7, rgb(241, 177, 56), rgb(248, 25, 92));
    color: #fff;
    text-shadow: 5px 1px 5px black;
}

.nav-pills .nav-link {
    border-radius: 25px;
}

#shipping,
#fullhours,
#payment {
    border: 8px ridge;
    height: 200px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#shipping:hover,
#fullhours:hover,
#payment:hover {
    box-shadow: 0 1px 5px 1px #16ad67;
}

#shipping {
    background-color: rgb(240, 161, 14);
}

#fullhours {
    background-color: #076f81e7;
}

#payment {
    background-color: rgb(248, 25, 92);
}

#seva1logo,
#seva2logo,
#seva3logo {
    margin-left: 1px;
    margin-top: 8px;
}

#seva1logodiv,
#seva2logodiv,
#seva3logodiv {
    background-color: white;
    border-radius: 24% 50%;
    height: 75px;
    top: 60px;
}

#seva1logo {
    background: url("../img/free-delivery.png") no-repeat;
    background-size: contain;
    height: 54px;
    width: 70px;
}

#seva1-content,
#seva2-content,
#seva3-content {
    top: 9px;
}

#seva2logo {
    background: url("../img/24-hours.png") no-repeat;
    background-size: contain;
    height: 54px;
    width: 70px;
}

#seva3logo {
    background: url("../img/credit-card.png") no-repeat;
    background-size: contain;
    height: 54px;
    width: 70px;
}

#seva1-content,
#seva2-content,
#seva3-content {
    color: white;
}

#seva1-content-desc,
#seva2-content-desc,
#seva3-content-desc {
    font-weight: 600;
}

/* **************************************Footer section************************************** */
/* **************************************Footer section************************************** */
.footer {
    border-top: 2px solid black;
}

.footerbox-1 {
    margin-left: -41px;
}

#footerLogo {
    height: 230px;
    margin-bottom: 20px;
    margin-left: -16px;
    width: 270px;
}

.contact-mail strong {
    color: black;
}

.terms-menu a,
.quick-links a {
    color: black;
    font-weight: 500;
}

#terms-menu-header {
    font-weight: bold;
    margin-bottom: 18px;
    margin-left: 19px;
}

#terms-menu-header::before {
    background-color: #16ad67;
    content: "";
    display: inline-block;
    height: 17px;
    left: -10px;
    position: absolute;
    margin-left: 26px;
    margin-top: 5px;
    width: 4px;
}

.terms-menu,
.quick-links {
    border: 1px solid black;
    border-radius: 3px;
}

#quick-links-header {
    font-weight: bold;
    margin-bottom: 18px;
    margin-left: 19px;
}

#quick-links-header::before {
    background-color: #16ad67;
    content: "";
    display: inline-block;
    height: 17px;
    left: -10px;
    margin-left: 26px;
    margin-top: 5px;
    position: absolute;
    width: 4px;
}

#contact-info-header {
    font-weight: bold;
    margin-bottom: 18px;
    margin-left: 19px;
}

#contact-info-header::before {
    background-color: #16ad67;
    content: "";
    display: inline-block;
    height: 17px;
    left: -10px;
    margin-left: 26px;
    margin-top: 5px;
    position: absolute;
    width: 4px;
}

.contact-info-logos {
    border: 2px solid black;
    border-radius: 4px;
    float: left;
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
    width: 40px;
}

.fa-map-marker {
    color: #16ad67;
    margin-left: 12px;
    margin-top: 11px;
}

.fa-phone {
    color: #16ad67;
    margin-left: 10px;
    margin-top: 11px;
}

.fa-envelope {
    color: #16ad67;
    margin-left: 8px;
    margin-top: 10px;
}

.contact-info {
    width: 315px;
}

.footer {
    background-color: rgba(22, 173, 103, 0.2);
    margin: 0px auto;
    padding: 30px 0px 0px 0px;
}

.address-title,
.phone-title,
.email-title {
    font-weight: bold;
}
.breadcrumb {
    background: linear-gradient(rgb(185, 217, 230), skyblue);
    height: 60px;
    margin-top: 20px;
}
.breadcrumb-item {
    align-self: center;
}
.breadcrumb a {
    color: red;
    font-size: 1.2em;
    font-weight: 700;
}
.breadcrumb .active {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}
#bread-header {
    color: #09133f;
    font-family: "Comic Sans MS", sans-serif ;
    font-size: 1.4em;
    font-weight: bold;
    position: absolute;
    right: 10px;
}
#login-form {
    background: linear-gradient(to bottom right, rgb(207, 151, 151), rgb(219, 224, 143), rgb(151, 207, 151), rgb(151, 151, 207));
    border: 5px outset grey;
    border-radius: 8px;
    margin: 30px auto;
    padding: 20px;
    width: 650px;
}
.login label, p{
    font-weight: 500;
    margin-top: 20px;
}

#login-button {
    background-color: #ee5b5b;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
    margin: 5px 43%;
    width: 80px;
}
#forgot-password {
    margin: 20px 39%;
}
#forgot-password a {
    color: black;
}

/* **************************************Media queries************************************** */
/* **************************************Media queries************************************** */

/* **************************************start 1301 < ************************************** */
@media (min-width: 1301px) {
    #nav-list {
        margin-left: 207px;
    }

    .jumbotron {
        height: 365px;
    }

    #footerLogo {
        margin-left: 1px;
    }

    .terms-menu {
        width: 240px;
    }

    .quick-links {
        width: 200px;
    }

    .footerbox-1 {
        left: 25px;
        margin-left: 19px;
        margin-right: -35px;
    }

    .footerbox-2 {
        left: 54px;
    }

    .footerbox-3 {
        left: 10px;
    }

    .footerbox-4 {
        right: 55px;
    }

    .col-auto {
        margin: 0 auto;
    }
}

/*************************************** end 1301 < ************************************** */

/* **************************************start 1200 to 1300************************************** */
@media (min-width: 1200px) and (max-width: 1300px) {
    #nav-list {
        margin-left: 207px;
    }

    .terms-menu {
        width: 225px;
    }

    .quick-links {
        width: 180px;
    }

    .footerbox-1 {
        left: 76px;
    }

    .footerbox-2 {
        left: 54px;
    }

    .footerbox-3 {
        left: 25px;
    }

    .footerbox-4 {
        right: 55px;
    }

    .col-auto {
        margin: 0 auto;
    }
}

/* **************************************end 1200 to 1300************************************** */

/* **************************************start 992 to 1199************************************** */
@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        height: 383px;
    }

    .carousel-item img {
        margin: 35px 109px;
    }

    .carousel-caption {
        margin: 10px 10px 14px 182px;
    }

    #mystery {
        margin-left: 315px;
    }

    #seva1logo,
    #seva2logo,
    #seva3logo {
        margin-left: -8px;
    }

    #seva3logo {
        margin-top: 12px;
    }

    .footer .row {
        flex-direction: column;
    }

    .footerbox-1 {
        display: flex;
        left: 150px;
    }

    #commit {
        margin-left: 20px;
        margin-top: 58px;
        min-width: 270px;
    }

    #cmail {
        margin-left: 90px;
        margin-top: 57px;
    }

    .footerbox-2 {
        right: 55px;
    }

    .terms-menu {
        width: 250px;
    }

    .footerbox-2 {
        left: 209px;
        margin-top: 20px;
    }

    .footerbox-3 {
        left: 572px;
        top: -237px;
    }

    .footerbox-4 {
        left: 342px;
        top: -190px;
    }

    .col-auto {
        margin: 0 auto;
    }
}

/* **************************************end 992 to 1199************************************** */

/* **************************************start 768 to 991************************************** */
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        height: 400px;
    }

    .twobuttons {
        justify-content: center;
    }

    .carousel-item img {
        margin: 35px 100px;
    }

    .carousel-caption {
        margin: 10px 10px 57px 198px;
        width: 300px;
    }

    #shipping,
    #fullhours,
    #payment {
        height: 275px;
    }

    #seva1logodiv,
    #seva2logodiv,
    #seva3logodiv {
        left: 39px;
        max-width: 79px;
        top: 22px;
    }

    #seva1logo,
    #seva2logo,
    #seva3logo {
        margin-left: -2px;
    }

    #seva1-content,
    #seva2-content,
    #seva3-content {
        text-align: center;
    }

    .footer .row {
        flex-direction: column;
        overflow: hidden;
    }

    #footerLogo {
        display: block;
        margin: 0 auto;
    }

    #commit {
        text-align: center;
    }

    #cmail {
        text-align: center;
    }

    .footerbox-2 {
        margin: 0 auto;
        top: 20px;
    }

    .footerbox-3 {
        margin: 0 auto;
        top: 40px;
    }

    .footerbox-4 {
        margin: 0 auto;
        top: 60px;
    }

    .footer .container-fluid {
        height: 1292px;
    }

    .footerbottom {
        bottom: -118px;
        position: relative;
    }

    .contact-info {
        height: 279px;
    }

    .col-auto {
        margin: 0 auto;
    }
}

/* **************************************end 768 to 991************************************** */

/* **************************************start 487 to 767************************************** */
@media (min-width: 487px) and (max-width: 767px) {
    .jumbotron {
        height: 484px;
    }

    .jbheader {
        margin: 0 auto;
        width: 420px;
    }

    .twobuttons {
        justify-content: center;
    }

    .carousel-caption {
        display: none;
    }

    .tiles {
        margin: 0 auto;
        width: 290px;
    }

    #seva1logodiv,
    #seva2logodiv,
    #seva3logodiv {
        left: 39px;
        max-width: 79px;
        top: 22px;
    }
    #login-form {
        width: 525px;
    }
    .footer .row {
        flex-direction: column;
    }

    .footerbox-1 {
        margin-left: 117px;
        width: 370px;
    }

    #footerLogo {
        margin-left: 11px;
    }

    #footerLogo {
        display: block;
        margin: 0 auto;
    }

    #commit {
        text-align: center;
    }

    #cmail {
        text-align: center;
    }

    .footerbox-2 {
        margin: 0 auto;
        top: 20px;
        width: 285px;
    }

    .footerbox-3 {
        margin: 0 auto;
        top: 40px;
        width: 285px;
    }

    .footerbox-4 {
        margin: 0 auto;
        top: 60px;
        width: 285px;
    }

    .terms-menu {
        width: 250px;
    }

    .quick-links {
        width: 180px;
    }

    .footer .container-fluid {
        height: 1300px;
    }

    .footerbottom {
        bottom: -161px;
        margin: 0 auto;
        position: relative;
    }

    .col-auto {
        margin: 0 auto;
    }
}

/* **************************************end 487 to 767************************************** */

/* **************************************start 360 to 486************************************** */
@media (min-width: 360px) and (max-width:486px) {

    .jumbotron {
        height: 500px;
    }

    .tiles {
        margin: 0 auto;
        width: 290px;
    }

    .carousel-caption {
        display: none;
    }
    
    #footerLogo {
        display: block;
        margin: 0 auto;
    }

    #commit {
        text-align: center;
    }

    #cmail {
        text-align: center;
    }

    .footerbox-1 {
        left: 30px;
    }

    .col-auto {
        margin: 0 auto;
    }

    .footerbox-3 {
        margin: 0 auto;
        top: 26px;
        width: 285px;
    }

    .footerbox-4 {
        margin: 0 auto;
        top: 55px;
    }

    .terms-menu {
        margin: 0 auto;
        width: 240px;
    }

    .quick-links {
        margin: 0 auto;
        width: 240px;
    }

    .contact-info {
        margin: 0 auto;
    }

    .footer .container-fluid {
        height: 1245px;
    }

    .footerbottom {
        bottom: -105px;
        margin: 0 auto;
        position: relative;
    }

    #seva1logodiv,
    #seva2logodiv,
    #seva3logodiv {
        left: -15px !important;
    }

    #seva1-content,
    #seva2-content,
    #seva3-content {
        right: -10px !important;
        width: 203px;
    }
}

/* **************************************end 360 to 486************************************** */

/* **************************************start 575 to 767************************************** */
@media (min-width: 575px) and (max-width: 767px) {
    #seva1logodiv {
        height: 90px;
        left: 25px;
        max-width: 90px;
        top: 45px;
    }

    #seva1logo {
        margin: 15px 4px;
    }

    #seva1-content {
        max-width: 240px;
        position: absolute;
        right: 50px;
    }

    #fullhours,
    #payment {
        height: 260px;
    }

    #seva2logodiv,
    #seva3logodiv {
        left: 52px;
    }

    #seva2logo,
    #seva3logo {
        margin: 9px -2px;
    }

    #seva2-content-header,
    #seva3-content-header {
        text-align: center;
    }
}

/* **************************************end 575 to 767************************************** */

/* **************************************start 575 to 700************************************** */
@media (min-width: 575px) and (max-width: 700px) {
    #nav-list {
        margin-left: -15px;
        width: 440px;
    }

    #logo-img {
        margin-left: -20px;
    }

    .cart .nav-link {
        margin-left: -20px;
    }

    .nav-item {
        margin-right: -13px;
    }

    .searchbar {
        margin-left: -31px;
        margin-right: 0px;
    }
}

/* **************************************end 575 to 700************************************** */

/* **************************************start 360 to 575************************************** */
@media (min-width: 360px) and (max-width: 575px) {
    #logo-img {
        margin-left: -27px;
    }

    .carousel {
        display: none;
    }

    .top-ordered {
        display: none;
    }
    .tintabs ul li a {
        font-size: 1em;
    }
    .nav-pills .nav-item {
        margin: 0 -5px;
    }
    .tintabs ul {
        width: 266px;
    }

    #seva1logodiv,
    #seva2logodiv,
    #seva3logodiv {
        height: 90px;
        left: 25px;
        max-width: 90px;
        top: 45px;
    }

    #seva1logo,
    #seva2logo,
    #seva3logo {
        margin: 15px 4px;
    }

    #seva1-content,
    #seva2-content,
    #seva3-content {
        max-width: 240px;
        position: absolute;
        right: 30px;
    }

    #tinseva {
        margin: 0 auto;
    }
    #login-form {
        width: 340px;
    }

}

/* **************************************end 360 to 575************************************** */

/* **************************************start 360 to 461************************************** */
@media (min-width: 360px) and (max-width:461px) {
    .jumbotron {
        height: 700px !important;
    }

    .headersjb {
        margin: 0 auto;
    }

    .twobuttons {
        flex-direction: column;
        margin: 0 auto;
    }

    .rent-now {
        margin: 10px 16px;
    }

    .discover {
        margin: 10px 16px;
    }
}

/* **************************************end 360 to 461************************************** */